@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME @(this.Context.User.Claims.FirstOrDefault(c => c.Type == "fullname")?.Value)</h1>
    <h1 class="display-4">THIS IS SITE FOR ADMIN</h1>
    <h1><a href="https://10.14.8.7:7253">Go to Admin site</a>.</h1>
    <h1><a href="https://10.14.8.7:7131">Go to Manager site</a>.</h1>
</div>
